<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>服务详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pro.css?embed" />
    <link rel="stylesheet" type="text/css" href = "/stylesheets/head.css">
    <link rel="stylesheet" type="text/css" href = "/stylesheets/simplegrid.css">
    <script src="/js/zepto.min.js"></script>
    <script src="/js/zepto-touch.min.js"></script>

    <style>

        .button-rounded {
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; }
        .button {
            -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
            background-color: #EEE;
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
            background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
            background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
            background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
            display: inline-block;
            vertical-align: middle;
            *zoom: 1;
            *display: inline;
            border: 1px solid #d4d4d4;
            height: 55px;
            line-height: 55px;
            padding: 0px 10%;
            font-weight: 300;
            font-size: 14px;
            font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
            color: #666;
            text-shadow: 0 1px 1px white;
            margin-top: 0px;
            text-decoration: none;
            text-align: center; }
        .button-border-primary {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            -moz-transition-property: all;
            -o-transition-property: all;
            -webkit-transition-property: all;
            transition-property: all;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            color: #ffffff;
            border: 2px solid orange;
            background: orange;
            text-shadow: none; }
        .button-border-pro {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            -moz-transition-property: all;
            -o-transition-property: all;
            -webkit-transition-property: all;
            transition-property: all;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            color: #ffffff;
            border: 2px solid #666;
            background: #666;
            text-shadow: none; }
        .my-item-right {
            margin-left: 14px;
        }
        .my-item-right1{
            float:right;
            margin-right: 0;
        }

        .my-item-right p {
            font-size: 14px;
        }
        button.button:disabled {
            -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
            opacity: 1;
            background: gray;
            border: 1px solid gray;
            color: #fff;
            cursor: default;
            -webkit-appearance: none; }
        [data-lazy] {
            display: block;
            margin: 10px auto;
            height: 120px;
            width: 240px;
            border: 1px solid #eee;
        }
        .lines{
            border-left: 1px solid #B7D0E4;
            display: inline-block;
            margin-left: -1px;
            padding: 0px 0px 0px 3px;
        }

    </style>

    <script>
        function onBridgeReady(){
            WeixinJSBridge.call('hideOptionMenu');
            WeixinJSBridge.call('hideToolbar');
        }

        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        }else{
            onBridgeReady();

        }

    </script>
    <script>
        $().ready(function(){
            $(".ui-page-content").swipeRight(function(){
                history.back();
            })
            var id = window.location.href.match(/id[^\/]+/)[0].slice(3);
            $.get("/web/seek/service/iscollect?id="+id,function(body){
                switch (body.code){
                    case '0':
                        break;
                    case '-1':
                        $("#the-collect").attr("disabled","");
                        $("#the-collect").text("还未绑定账号")
                        break;
                    case '-3':
                        $("#the-collect").attr("disabled","");
                        $("#the-collect").text("不能收藏自己的")
                        break;
                    case '-4':
                        $("#the-collect").attr("disabled","");
                        $("#the-collect").text("已收藏") ;
                        break;
                    default :
                        $("#the-collect").attr("disabled","");
                        $("#the-collect").text("收藏不可用") ;
                }
            })
            $("#the-collect").tap(function(){
                $.get("/web/seek/service/collect?id="+id,function(body){
                   if(body.code=='0'){
                       $("#the-collect").attr("disabled","");
                       $("#the-collect").text("已收藏") ;
                   }

                })
            })
            $("#to-des").tap(function(){
                window.location.href = "/web/seek/service/des?id="+id;
            })
        })
    </script>
</head>
<body class="ui-app">
<div class="ui-top-bar js-no-bounce">

    <div class="ui-tab page1 js-active">
        <div class="header" id="header">
            <a class="back" href="javascript:history.back();"></a>
            <span class="headline">服务详情</span>
        </div>
        <div class="the-bottom" id="the-bottom">
            <a class="back" href="javascript:history.back();"></a>
            <span class="ui-left">￥<%-perPrice%> <%-selfCashUint?("/"+selfCashUint):""%></span>
            <button class="my-item-right1  button button-border-primary button-rounded" id="the-collect">收藏</button>
        </div>
    </div>
</div>

<div class="ui-page-content">
    <!-- 主体内容 -->
    <img src="/images/bac6.jpg" width="100%" height="20px">
    <ul class="ui-list ">



        <%if(code==0){%>
        <li class="ui-item">
            <div class="grid grid-pad">
                <div class="col-1-1">
                    <div class="content">
                        <h3><%-servTitle%></h3>
                    </div>
                </div>
            </div>

            <div class="grid grid-pad">
                <div class="col-1-3 mobile-col-1-3">
                    <div class="content">
                        成交: <span class="ui-red"> <%-dealedCount%> </span>
                    </div>
                </div>
                <div class="col-1-3 mobile-col-1-3">
                    <div class="content">
                        收藏: <span class="ui-red"><%-collectionCount%></span>
                    </div>
                </div>
                <div class="col-1-3 mobile-col-1-3">
                    <div class="content">
                        评价: <span class="ui-red"><%-commentCount%></span>
                    </div>
                </div>
            </div>
        </li>

        <li class="ui-item">
            <div class="grid grid-pad">
                <div class="col-11-12 mobile-col-11-12">
                    <div class="content">
                        <p  class = "ui-gray">当前状态:&nbsp;<%-status%></p>
                    </div>
                </div>
                <div class="col-11-12 mobile-col-11-12">
                    <div class="content">
                        <p  class = "ui-gray">截止时间:&nbsp;<%-endDate%></p>
                    </div>
                </div>
                <div class="col-11-12 mobile-col-11-12">
                    <div class="content">
                        <p  class = "ui-gray">发布时间:&nbsp;<%-dateInsert%></p>
                    </div>
                </div>


            </div>
        </li>
         <li class="ui-item">
              <div class="grid grid-pad">
                  <div class="col-11-12 mobile-col-11-12">
                      <div class="content">
                          <p  class = "ui-gray">其他须知:&nbsp; <%-isSameCity?"同城&nbsp;":""%><%-isOndoorService?"上门服务":""%>
                              <%-isserviceoutline?"线下":"线上"%></p>
                      </div>
                  </div>
              </div>
         </li>
        <img src="/images/bac6.jpg" width="100%" height="6px">
    </ul>

    <ul class="ui-list  arrow-right">
        <li class="ui-item"><a id="to-des">
               服务描述
        </a>

        </li>
    </ul>

    <%}%>
    <%if(code!=0){%>
    <img src="/images/bac5.jpg">
    <%}%>

</div>


</body>
</html>
