<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>红包提现</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pro.css?embed" />
    <link rel="stylesheet" type="text/css" href="/vendor/ionicons/css/ionicons.css" />
    <link rel="stylesheet" type="text/css" href = "/stylesheets/head.css">


    <script src="/js/zepto.min.js"></script>
    <script src="/js/zepto-touch.min.js"></script>
    <style>
        .my-banner {
            margin-bottom: 20px;
            padding: 10px 12px;
            background-color: #FF9937;
            height: 85px;
            color: #ffffff
        }
        .my-banner-text {
            display: block;
        }
        .my-banner-count {
            font-size: 40px;
            -webkit-transform: translate3d(0, 0, 0);
        }
        .my-banner-unit {
            font-size: 20px;
        }

        .my-item-left{
            position: absolute;
            border: 0px solid #fff;
            border-radius: 0px;
            background: #fff;
            height: 60px;
            width: 60px;
            font-size: 12px;
            line-height: 12px;
        }

        .my-item-count {
            font-size: 30px;
            line-height: 30px;
        }

        .my-item-right {
            margin-left: 70px;
        }

        .my-item-right p {
            font-size: 14px;
        }

        .my-deletable {
            z-index: 2;
            background: #fff;
        }

        .my-delete {
            height: 80px;
            line-height: 80px;
            width: 60px;
            text-align: center;
            position: absolute;
            top:0;
            right: 0;
            background: rgb(250, 34, 34);
            z-index: 1;
            color: #fff;
        }

        [data-lazy] {
            display: block;
            margin: 10px auto;
            height: 120px;
            width: 240px;
            border: 1px solid #eee;
        }

    </style>
    <script src = "/js/WeixinApi.js"></script>
    <link href="/stylesheets/pgwmodal.min.css" rel="stylesheet">
    <script src="/js/pgwmodal.min.js"></script>
    <script>
        WeixinApi.ready(function(Api) {

            Api.hideOptionMenu();
            Api.hideToolbar();
        })
        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };
        $().ready(function(){

            $("#show-rule").tap(function(){
                $.pgwModal({
                    target: '#modalContent',
                    title: '红包提现规则',
                    maxWidth: 800
                });
            }) ;
            $("#new-with").tap(function(){
                $.get("/web/event/withdraw/new?cash=1&mobile=15851810378",function(data){
                    alert(data);
                })
            })
        })
    </script>
</head>
<body class="ui-app">


<div class="ui-tab page1 js-active">
    <div class="header" id="header">
        <a class="back" href="javascript:history.back();"></a>
        <span class="headline">提现</span>

    </div>
</div>

<!-- 一个App可以多个page -->
<div class="ui-page page1 js-active">

    <div class="ui-page-content">
        <!-- 主体内容 -->

        <div class="ui-tab js-active" id="page1-tab1" role="tabpanel">


            <ul class="ui-list">
                <img src="/images/bac6.jpg" width="100%" height="48px">
                <li class="ui-item ui-ignore-space">
                    <a class="my-deletable"  href="withdraw">
                        <div class="my-item-left">
                            <img width="100%" src = "/images/1.jpg">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap"><%=username%></p>
                            <p class="ui-gray">余额：<span class="ui-red"><%=user_banlance%></span>
                            <p class="ui-no-wrap ui-gray"> 10元起提现</p>


                        </div>

                    </a>

                </li>

            </ul>
             <ul class="ui-list">
                 <li class="ui-item ui-ignore-space">
                     <a class="my-deletable" >

                         <p><a id="show-rule">查看提现规则</a>&nbsp;<span class="ui-right"> <button class="ui-button" id="new-with">提现</button></span></p>
                         <p>&nbsp;</p>
                     </a>

                 </li>
             </ul>

            <ul class="ui-list">
                <li class="ui-item "><a>提现历史<span class="ui-right"> 已提现:<span class="ui-red"><%=withdraw%></span></span> </a></li>
                <% if(withdraw_his.length){%>
                <% withdraw_his.forEach(function(value){%>
                <li class="ui-item ui-ignore-space">
                    <a class="my-deletable"  href="withdraw">
                        <div class="my-item-left">
                            <img width="100%" src = "/images/1.jpg">
                        </div>
                        <div class="my-item-right"><span class="ui-right"><span class="ui-red"><%=value.withdraw_is_over?"已完成":"处理中"%></span></span>
                            <p class="ui-no-wrap ui-gray">流水号：<%=value.withdraw_id%></p>
                            <p class="ui-no-wrap">金额：<%=value.money%>元</p>
                            <p class="ui-red">手机号：<%=value.mobile%></p>
                            <p class="ui-gray">提现日期:<%=value.withdraw_generate%></p>
                        </div>
                    </a>

                </li>
                <%})}%>
            </ul>




        </div>

    </div>


</div>

<div id="modalContent" style="display: none;">
    <ul class="ui-list">
        <li class="ui-item ui-ignore-space">
            <a class="my-deletable" >
                1.10元起可申请提现
            </a>

        </li>

        <li class="ui-item ui-ignore-space">
            <a class="my-deletable" >
                2.提现金额以话费形式充值到手机
            </a>

        </li>
        <li class="ui-item ui-ignore-space">
            <a class="my-deletable" >
                3.移动到账约十分钟，联通电信三到五个工作日
            </a>

        </li>
        <li class="ui-item ui-ignore-space">
            <a class="my-deletable" >
                4.活动解释权归“创客汇小鱼儿”所有
            </a>

        </li>
    </ul>
</div>



</body>
</html>
