<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>抽奖</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pro.css?embed" />
    <link rel="stylesheet" type="text/css" href="/vendor/ionicons/css/ionicons.css" />
    <link rel="stylesheet" type="text/css" href = "/stylesheets/head.css">


    <script src="/js/zepto.min.js"></script>
    <script src="/js/zepto-touch.min.js"></script>
    <style>
        .my-banner {
            margin-bottom: 20px;
            padding: 10px 12px;
            background-color: #FF9937;
            height: 85px;
            color: #ffffff
        }
        .my-banner-text {
            display: block;
        }
        .my-banner-count {
            font-size: 40px;
            -webkit-transform: translate3d(0, 0, 0);
        }
        .my-banner-unit {
            font-size: 20px;
        }

        .my-item-left{
            position: absolute;
            border: 0px solid #fff;
            border-radius: 0px;
            background: #fff;
            height: 60px;
            width: 60px;
            font-size: 12px;
            line-height: 12px;
        }

        .my-item-count {
            font-size: 30px;
            line-height: 30px;
        }

        .my-item-right {
            margin-left: 70px;
        }

        .my-item-right p {
            font-size: 14px;
        }

        .my-deletable {
            z-index: 2;
            background: #fff;
        }

        .my-delete {
            height: 80px;
            line-height: 80px;
            width: 60px;
            text-align: center;
            position: absolute;
            top:0;
            right: 0;
            background: rgb(250, 34, 34);
            z-index: 1;
            color: #fff;
        }

        [data-lazy] {
            display: block;
            margin: 10px auto;
            height: 120px;
            width: 240px;
            border: 1px solid #eee;
        }

    </style>
    <script src = "/js/WeixinApi.js"></script>
    <link href="/stylesheets/pgwmodal.min.css" rel="stylesheet">
    <script src="/js/pgwmodal.min.js"></script>
    <script>
        WeixinApi.ready(function(Api) {

            Api.hideOptionMenu();
            Api.hideToolbar();
        })
        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };
        $().ready(function(){

            $("#show-rule").tap(function(){
                $.pgwModal({
                    target: '#modalContent',
                    title: '红包提现规则',
                    maxWidth: 800
                });
            }) ;
            $("#new-with").tap(function(){
               window.location.href="/web/lottery/new";
            });

        })
    </script>
</head>
<body class="ui-app">


<div class="ui-tab page1 js-active">
    <div class="header" id="header">
        <a class="back" href="javascript:history.back();"></a>
        <span class="headline">抽奖</span>

    </div>
</div>

<!-- 一个App可以多个page -->
<div class="ui-page page1 js-active">

    <div class="ui-page-content">
        <!-- 主体内容 -->

        <div class="ui-tab js-active" id="page1-tab1" role="tabpanel">


            <ul class="ui-list">
                <img src="/images/bac6.jpg" width="100%" height="48px">
                <li class="ui-item ui-ignore-space">
                    <a class="my-deletable"  >
                        <div class="my-item-left">
                            <img width="100%" src = "/images/1.jpg">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap">小鱼粉丝</p>
                            <p class="ui-no-wrap">&nbsp;</p>
                            <p class="ui-red">剩余抽奖次数：<%=user_info.left_chance%></p>

                        </div>

                    </a>

                </li>

            </ul>
             <ul class="ui-list">
                 <li class="ui-item ui-ignore-space">
                     <a class="my-deletable" >

                         <p><a id="show-rule">查看抽奖规则</a>&nbsp;<span class="ui-right"> <button class="ui-button" <%=user_info.left_chance ? "":"disabled"%> id="new-with">抽奖</button></span></p>
                         <p>&nbsp;</p>
                     </a>

                 </li>
             </ul>

            <ul class="ui-list">
                <li class="ui-item "><a>抽奖历史 </a></li>
                <% if(lottery_his.length){%>
                <% lottery_his.forEach(function(value){%>
                <li class="ui-item ui-ignore-space">
                    <a class="my-deletable" >
                        <div class="my-item-left">
                            <img width="100%" src = "/images/1.jpg">
                        </div>
                        <div class="my-item-right"><span class="ui-right"><span class="ui-red"><%=value.is_recieved?"已完成":"处理中"%></span></span>
                            <p class="ui-no-wrap ui-gray">流水号：<%=value.lottery_id%></p>
                            <p class="ui-no-wrap">抽中：<%=value.is_award?"中奖":"谢谢参与"%></p>
                            <p class="ui-red">彩票兑换券：<%=value.award_code%></p>
                            <p class="ui-gray">抽奖日期:<%=value.lottery_generate%></p>
                        </div>
                    </a>

                </li>
                <%})}%>
            </ul>




        </div>

    </div>


</div>

<div id="modalContent" style="display: none;">
    <ul class="ui-list">
        <li class="ui-item ui-ignore-space">
            <a class="my-deletable" >
                1.奖品分实物和虚拟奖品
            </a>

        </li>

        <li class="ui-item ui-ignore-space">
            <a class="my-deletable" >
                2.虚拟奖品已兑换码给出
            </a>

        </li>
        <li class="ui-item ui-ignore-space">
            <a class="my-deletable" >
                3.实物奖品请填写收货地址和电话号码，工作人员会与您联系
            </a>

        </li>
        <li class="ui-item ui-ignore-space">
            <a class="my-deletable" >
                4.活动解释权归“创客汇小鱼儿”所有
            </a>

        </li>
    </ul>
</div>



</body>
</html>
