<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>服务详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pro.css?embed" />
    <link rel="stylesheet" type="text/css" href="/vendor/ionicons/css/ionicons.css" />
    <link rel="stylesheet" type="text/css" href = "/stylesheets/head.css">
     <script src="/js/zepto.min.js"></script>
    <script src="/js/zepto-touch.min.js"></script>
    <style>

        .button-rounded {
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; }
        .button {
            -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
            background-color: #EEE;
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
            background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
            background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
            background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            border: 1px solid #d4d4d4;
            height: 32px;
            line-height: 30px;
            padding: 0px 25.6px;
            font-weight: 300;
            font-size: 14px;
            font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
            color: #666;
            text-shadow: 0 1px 1px white;
            margin-top: 7px;
            text-decoration: none;
            text-align: center; }
        .button-border-primary {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            -moz-transition-property: all;
            -o-transition-property: all;
            -webkit-transition-property: all;
            transition-property: all;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            color: #ffffff;
            border: 2px solid #FFFFFF;
            background: none;
            text-shadow: none; }
        .button-border-pro {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            -moz-transition-property: all;
            -o-transition-property: all;
            -webkit-transition-property: all;
            transition-property: all;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            color: #ffffff;
            border: 2px solid #666;
            background: #666;
            text-shadow: none; }
        .my-item-right {
            margin-left: 8px;
        }
        .my-item-right1{
            float:right;
            margin-right: 8px;
        }

        .my-item-right p {
            font-size: 14px;
        }
        button.button:disabled {
            -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
            opacity: 0.8;
            background: #EEE;
            border: 1px solid #DDD;
            text-shadow: 0 1px 1px white;
            color: #CCC;
            cursor: default;
            -webkit-appearance: none; }
        [data-lazy] {
            display: block;
            margin: 10px auto;
            height: 120px;
            width: 240px;
            border: 1px solid #eee;
        }

    </style>
    <script>
        function onBridgeReady(){
            WeixinJSBridge.call('hideOptionMenu');

        }

        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        }else{
            onBridgeReady();

        }
        $().ready(function(){
            $(".ui-page-content").swipeRight(function(){
                history.back();
            })
        })

    </script>
</head>
<body class="ui-app">
<div class="ui-top-bar js-no-bounce">

    <div class="ui-tab page1 js-active">
        <div class="header" id="header">
            <a class="back" href="javascript:history.back();"></a>
            <span class="headline"><%=title%></span>
            <button class="my-item-right1  button button-border-primary button-rounded">收藏</button>
        </div>
    </div>
</div>

<div class="ui-page-content">
    <!-- 主体内容 -->
    <ul class="ui-list ">

            <img src="/images/1.jpg" width = "100%">

        <li class="ui-item">
            <button disabled class="ui-button">&nbsp;&nbsp;提供者&nbsp;&nbsp;</button>
            <span class = "my-item-right ui-gray"><%=offer%></span>

        </li>
        <li class="ui-item">
            <button disabled class="ui-button">&nbsp;&nbsp;已售出&nbsp;&nbsp;</button>
            <span class="my-item-right ui-red"><%=sold%></span>

            <p></p>
            <button disabled class="ui-button">上架时间</button>
            <span class = "my-item-right ui-gray"> <%=generation%></span>
            <p></p>
            <button disabled class="ui-button">&nbsp;&nbsp;&nbsp;&nbsp;售价&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <span class = "my-item-right ui-red"> ￥<%=price%></span>
        </li>

        <li  class="ui-item">
            <button disabled class="ui-button">详细信息</button>
            <div ><%=description%>
            </div>
        </li>
        <p>
            &nbsp:
        </p>

    </ul>

</div>








</body>
</html>
