<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>我的订单</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pro.css?embed" />
    <link rel="stylesheet" type="text/css" href="/vendor/ionicons/css/ionicons.css" />
    <style>
        #load{
            margin:auto;
            left:0px;
            right:0px;
            width:40px;
            height:40px;
            -moz-animation:spin 2s linear 0s infinite;
            border-radius:100%;
            -webkit-animation:spin 2s linear 0s infinite;
            animation:spin 2s linear 0s infinite;
            box-shadow:0px 2px 1px #0000FF,
            0px -2px 1px #FFE000,
            -2px 0px 1px #00FF00,
            2px 0px 1px #FF0000;
        }
        @keyframes spin{
            from{
                -moz-transform:rotate(0deg);
                -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
            }
            to{
                -moz-transform:rotate(360deg);
                -webkit-transform:rotate(360deg);
                transform:rotate(360deg);
            }
        }@-webkit-keyframes spin{
             from{
                 -moz-transform:rotate(0deg);
                 -webkit-transform:rotate(0deg);
                 transform:rotate(0deg);
             }
             to{
                 -moz-transform:rotate(360deg);
                 -webkit-transform:rotate(360deg);
                 transform:rotate(360deg);
             }
         }


        .my-item-right {
            margin-left: 8px;
        }


        .my-item-right p {
            font-size: 14px;
        }


        .my-item-left{
            position: absolute;
            border: 1px solid #fff;
            border-radius: 4px;
            background: #fff;
            height: 60px;
            width: 60px;
            font-size: 12px;
            line-height: 12px;
        }

        .my-item-right {
            margin-left: 70px;
        }

        .my-item-right p {
            font-size: 14px;
        }


    </style>
    </head>
<body class="ui-app">

<div class="ui-top-bar js-no-bounce">
    <div class="ui-tab page1 js-active">
        <ul class="ui-groupbutton" role="tablist">
            <li class="ui-button js-active" data-toggle="tab" data-target="#page1-tab1" aria-controls="tab1" role="tab">我发布的</li>
            <li class="ui-button" data-toggle="tab" data-target="#page1-tab2" aria-controls="tab2" role="tab">我参与的</li>
        </ul>
    </div>
    <div class="ui-tab page2">
        <ul class="ui-groupbutton" role="tablist">
            <li class="ui-button js-active" data-toggle="tab" data-target="#page2-tab1" aria-controls="tab1" role="tab">我发布的</li>
            <li class="ui-button" data-toggle="tab" data-target="#page2-tab2" aria-controls="tab2" role="tab">我参与的</li>
        </ul>
    </div>
    <div class="ui-tab page3">
        <ul class="ui-groupbutton" role="tablist">
            <li class="ui-button js-active" data-toggle="tab" data-target="#page3-tab1" aria-controls="tab1" role="tab">我发布的</li>
            <li class="ui-button" data-toggle="tab" data-target="#page3-tab2" aria-controls="tab2" role="tab">我参与的</li>
        </ul>
    </div>
    <div class="ui-tab page4">
        <ul class="ui-groupbutton" role="tablist">
            <li class="ui-button js-active" data-toggle="tab" data-target="#page4-tab1" aria-controls="tab1" role="tab">我发布的</li>
            <li class="ui-button" data-toggle="tab" data-target="#page4-tab2" aria-controls="tab2" role="tab">我参与的</li>
        </ul>
    </div>
    <div class="ui-tab page5">
        <ul class="ui-groupbutton" role="tablist">
            <li class="ui-button js-active" data-toggle="tab" data-target="#page5-tab1" aria-controls="tab1" role="tab">我发布的</li>
            <li class="ui-button" data-toggle="tab" data-target="#page5-tab2" aria-controls="tab2" role="tab">我参与的</li>
        </ul>
    </div>
</div>
<div class="ui-bottom-bar js-no-bounce" role="toolbar"> <!-- tabindex="0" 在android上会触发一个高亮边框 -->
    <a class="ui-bottom-bar-button js-active" role="button" data-toggle="tab" data-target=".page1">
        <span class="ui-icon ion-ios7-camera-outline"></span>
        <span class="ui-label">服务</span>
    </a>
    <a class="ui-bottom-bar-button" role="button" data-toggle="tab" data-target=".page2">
        <span class="ui-icon ion-ios7-stopwatch-outline"></span>
        <span class="ui-label">需求</span>
    </a>
    <a class="ui-bottom-bar-button" role="button" data-toggle="tab" data-target=".page3">
        <span class="ui-icon ion-ios7-star-outline"></span>
        <span class="ui-label">大赛</span>
    </a>
    <a class="ui-bottom-bar-button" role="button" data-toggle="tab" data-target=".page4">
        <span class="ui-icon ion-ios7-gear-outline"></span>
        <span class="ui-label">公益需求</span>
    </a>
    <a class="ui-bottom-bar-button" role="button" data-toggle="tab" data-target=".page4">
        <span class="ui-icon ion-ios7-gear-outline"></span>
        <span class="ui-label">公益服务</span>
    </a>
</div>

<!-- 一个App可以多个page -->
<div class="ui-page page1 js-active">

    <div class="ui-page-content">
        <!-- 主体内容 -->

        <div class="ui-tab js-active" id="page1-tab1" role="tabpanel">

             
            <ul class="ui-list" >

                <li class="ui-item ui-ignore-space"><a href="#">
                        <div class="my-item-left">
                            <img src = "<%=user.photo?user.phpto:"/images/1.jpg"%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap"><%=user.nickName%></p>
                            <p class="ui-grey" >靠谱度:<%=user.kaopu%></p>
                            <p class="ui-red">给力度：<%=user.geili%></p>
                        </div>
                    </a></li>
            </ul>
                <%if(require1.length){%>
            <ul class="ui-list arrow-right" id = "order-list-require1">
			<%require1.forEach(function(value){%>
                <li class="ui-item"><a href="info?id=<%=value.id%>&type=require"><%=value.title%>
                        <div class="my-item-left">
                            <img src = "<%=value.userpic%>" width="100%">
                        </div>
                        <div class="my-item-right">
					<p class="ui-no-wrap">订单流水：<%=value.ordersn%></p>
					<p class="ui-gray">生成日期：<%=value.starttime%></p>
                    <p class="ui-gray">截止日期：<%=value.finishtime%></p>
                    <p class="ui-red">价格： <%=value.orderPrice%></p>
				</div>
				</a></li>

			<%})}%>
            </ul>
                <%if(!require1.length){%>
                   <p align="center"><img src="/images/a404.png" width="65%" class="ui-center"></p>
                <%}%>


            <%if(require1.length==6){%>
            <p align="center" id="show-more-items-require1" style="" ><span id= "more-items-require1" class="ui-gray load-more" > 点击加载更多……</span></p>
            <div  id="show-load-items-require1"  style="display:none;">
                <div id="load"></div>
            </div>

            <%}%>

           </div>

        <div class="ui-tab" id="page1-tab2" role="tabpanel">


            <ul class="ui-list" >

                <li class="ui-item ui-ignore-space"><a href="#">
                        <div class="my-item-left">
                            <img src = "<%=user.photo?user.phpto:"/images/1.jpg"%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap"><%=user.nickName%></p>
                            <p class="ui-grey" >靠谱度:<%=user.kaopu%></p>
                            <p class="ui-red">给力度：<%=user.geili%></p>
                        </div>
                    </a></li>

            <%if(require2.length){%>
            </ul>
            <ul class="ui-list arrow-right" id = "order-list-require2">

                <%require2.forEach(function(value){%>
                <li class="ui-item"><a href="info?id=<%=value.id%>&type=require"><%=value.title%>
                        <div class="my-item-left">
                            <img src = "<%=value.userpic%>" width="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap">订单流水：<%=value.ordersn%></p>
                            <p class="ui-gray">生成日期：<%=value.starttime%></p>
                            <p class="ui-gray">截止日期：<%=value.finishtime%></p>
                            <p class="ui-red">价格： <%=value.orderPrice%></p>
                        </div>
                    </a></li>

                <%})}%>

            </ul>
            <%if(!require2.length){%>
            <p align="center"><img src="/images/a404.png" width="65%" class="ui-center"></p>
            <%}%>
            <%if(require2.length==6){%>
            <p align="center" id="show-more-items-require2" style="" ><span id= "more-items-require2" class="ui-gray load-more" > 点击加载更多……</span></p>
            <div  id="show-load-items-require2"  style="display:none;">
                <div id="load"></div>
            </div>

            <%}%>

        </div>

</div>


</div>


<div class="ui-page page2">

    <div class="ui-page-content">
        <div class="ui-tab js-active" id="page2-tab1" role="tabpane1">

            <ul class="ui-list" >

                <li class="ui-item ui-ignore-space"><a href="#">
                        <div class="my-item-left">
                            <img src = "<%=user.photo?user.phpto:"/images/1.jpg"%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap"><%=user.nickName%></p>
                            <p class="ui-grey" >靠谱度:<%=user.kaopu%></p>
                            <p class="ui-red">给力度：<%=user.geili%></p>
                        </div>
                    </a></li>
            </ul>
            <%if(service1.length){%>
            <ul class="ui-list arrow-right" id = "order-list-service1">

                <%service1.forEach(function(value){%>

                <li class="ui-item"><a href="info?id=<%=value.id%>&type=service"><span class="ui-red"><%=value.title%></span>
                        <div class="my-item-left">
                            <img src = "<%=value.suserpic%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap">订单流水：<%=value.ordersn%></p>
                            <p class="ui-gray">生成日期：<%=value.starttime%></p>
                            <p class="ui-gray">提供者：<%=value.snickName%></p>
                            <p class="ui-red">价格： <%=value.orderPrice%></p>
                        </div>
                    </a></li>

                <%})}%>
            </ul>
            <%if(!service1.length){%>
            <p align="center"><img src="/images/a404.png" width="65%" class="ui-center"></p>
            <%}%>
                <%if(service1.length==6){%>
                <p align="center" id="show-more-items-service1" style="" ><span id= "more-items-service1" class="ui-gray load-more" > 点击加载更多……</span></p>
                <div  id="show-load-items-service1"  style="display:none;">
                    <div id="load"></div>
                </div>

                <%}%>

        </div>
        <div class="ui-tab" id="page2-tab2" role="tabpane2">


            <ul class="ui-list" >

                <li class="ui-item ui-ignore-space"><a href="#">
                        <div class="my-item-left">
                            <img src = "<%=user.photo?user.phpto:"/images/1.jpg"%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap"><%=user.nickName%></p>
                            <p class="ui-grey" >靠谱度:<%=user.kaopu%></p>
                            <p class="ui-red">给力度：<%=user.geili%></p>
                        </div>
                    </a></li>
            </ul>
            <%if(service2.length){%>
            <ul class="ui-list arrow-right" id = "order-list-service2">

                <%service2.forEach(function(value){%>

                <li class="ui-item"><a href="info?id=<%=value.id%>&type=service"><span class="ui-red"><%=value.title%></span>
                        <div class="my-item-left">
                            <img src = "<%=value.suserpic%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap">订单流水：<%=value.ordersn%></p>
                            <p class="ui-gray">生成日期：<%=value.starttime%></p>
                            <p class="ui-gray">提供者：<%=value.snickName%></p>
                            <p class="ui-red">价格： <%=value.orderPrice%></p>
                        </div>
                    </a></li>

                <%})}%>
            </ul>
            <%if(!service2.length){%>
            <p align="center"><img src="/images/a404.png" width="65%" class="ui-center"></p>
            <%}%>
                <%if(service2.length==6){%>
                <p align="center" id="show-more-items-service2" style="" ><span id= "more-items-service2" class="ui-gray load-more" > 点击加载更多……</span></p>
                <div  id="show-load-items-service2"  style="display:none;">
                    <div id="load"></div>
                </div>

                <%}%>
        </div>
        </div>

    </div>
<div class="ui-page page3">

    <div class="ui-page-content">
        <div class="ui-tab js-active" id="page3-tab1" role="tabpane1">


            <ul class="ui-list" >

                <li class="ui-item ui-ignore-space"><a href="#">
                        <div class="my-item-left">
                            <img src = "<%=user.photo?user.phpto:"/images/1.jpg"%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap"><%=user.nickName%></p>
                            <p class="ui-grey" >靠谱度:<%=user.kaopu%></p>
                            <p class="ui-red">给力度：<%=user.geili%></p>
                        </div>
                    </a></li>
            </ul>
            <%if(game1.length){%>
            <ul class="ui-list arrow-right" id = "order-list-game1">

                <%game1.forEach(function(value){%>

                <li class="ui-item"><a href="info?id=<%=value.id%>&type=game"><%=value.title%><span class="ui-right">状态：<span class="ui-red"> 待商定</span></span>
                        <div class="my-item-left">
                            <img src = "<%=value.userpic%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap">订单流水:<%=value.ordersn%></p>
                            <p class="ui-gray">生成日期：<%=value.starttime%></p>
                            <p class="ui-gray">截止日期：<%=value.finishtime%></p>
                            <p class="ui-red">价格： <%=value.orderPrice%></p>
                        </div>
                    </a></li>

                <%})}%>
            </ul>
            <%if(!game1.length){%>
            <p align="center"><img src="/images/a404.png" width="65%" class="ui-center"></p>
            <%}%>


            <%if(game1.length==6){%>
            <p align="center" id="show-more-items-game1" style="" ><span id= "more-items-game1" class="ui-gray load-more" > 点击加载更多……</span></p>
            <div  id="show-load-items-game1"  style="display:none;">
                <div id="load"></div>
            </div>

            <%}%>
        </div>
        <div class="ui-tab" id="page3-tab2" role="tabpane2">


            <ul class="ui-list" >

                <li class="ui-item ui-ignore-space"><a href="#">
                        <div class="my-item-left">
                            <img src = "<%=user.photo?user.phpto:"/images/1.jpg"%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap"><%=user.nickName%></p>
                            <p class="ui-grey" >靠谱度:<%=user.kaopu%></p>
                            <p class="ui-red">给力度：<%=user.geili%></p>
                        </div>
                    </a></li>
            </ul>

            <%if(game2.length){%>
                <ul class="ui-list arrow-right" id = "order-list-game2">

                <%game2.forEach(function(value){%>

                <li class="ui-item"><a href="info?id=<%=value.id%>&type=game"><%=value.title%><span class="ui-right">状态：<span class="ui-red"> 待商定</span></span>
                        <div class="my-item-left">
                            <img src = "<%=value.userpic%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap">订单流水:<%=value.ordersn%></p>
                            <p class="ui-gray">生成日期：<%=value.starttime%></p>
                            <p class="ui-gray">截止日期：<%=value.finishtime%></p>
                            <p class="ui-red">价格： <%=value.orderPrice%></p>
                        </div>
                    </a></li>

            <%})}%>
                </ul>
            <%if(!game2.length){%>
            <p align="center"><img src="/images/a404.png" width="65%" class="ui-center"></p>
            <%}%>
            <%if(game2.length==6){%>
            <p align="center" id="show-more-items-game2" style="" ><span id= "more-items-game2" class="ui-gray load-more" > 点击加载更多……</span></p>
            <div  id="show-load-items-game2"  style="display:none;">
                <div id="load"></div>
            </div>

            <%}%>
        </div>
    </div>
    </div>

<div class="ui-page page4">
    <div class="ui-page-content">
        <div class="ui-tab js-active" id="page4-tab1" role="tabpane1">


            <ul class="ui-list" >

                <li class="ui-item ui-ignore-space"><a href="#">
                        <div class="my-item-left">
                            <img src = "<%=user.photo?user.phpto:"/images/1.jpg"%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap"><%=user.nickName%></p>
                            <p class="ui-grey" >靠谱度:<%=user.kaopu%></p>
                            <p class="ui-red">给力度：<%=user.geili%></p>
                        </div>
                    </a></li>
            </ul>

                    <%if(wrequire1.length){%>
            <ul class="ui-list arrow-right" id = "order-list-wrequire1">

                <%wrequire1.forEach(function(value){%>

                <li class="ui-item"><a href="info?id=<%=value.id%>&type=wrequire"><%=value.title%>
                        <div class="my-item-left">
                            <img src = "<%=value.userpic%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap">订单流水：<%=value.ordersn%></p>
                            <p class="ui-gray">生成日期：<%=value.starttime%></p>
                            <p class="ui-gray">截止日期：<%=value.finishtime%></p>
                            <p class="ui-gray">价格：<span class="ui-red"><%=value.orderPrice%></span></p>
                           </div>
                    </a></li>

                <%})}%></ul>
            <%if(!wrequire1.length){%>
            <p align="center"><img src="/images/a404.png" width="65%" class="ui-center"></p>
            <%}%>
            <%if(wrequire1.length==6){%>
            <p align="center" id="show-more-items-wrequire1" style="" ><span id= "more-items-wrequire1" class="ui-gray load-more" > 点击加载更多……</span></p>
            <div  id="show-load-items-wrequire1"  style="display:none;">
                <div id="load"></div>
            </div>

            <%}%>

        </div>
        <div class="ui-tab" id="page4-tab2" role="tabpane2">


            <ul class="ui-list" >

                <li class="ui-item ui-ignore-space"><a href="#">
                        <div class="my-item-left">
                            <img src = "<%=user.photo?user.phpto:"/images/1.jpg"%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap"><%=user.nickName%></p>
                            <p class="ui-grey" >靠谱度:<%=user.kaopu%></p>
                            <p class="ui-red">给力度：<%=user.geili%></p>
                        </div>
                    </a></li>
            </ul>
            <%if(wrequire2.length){%>
            <ul class="ui-list arrow-right" id = "order-list-wrequire2">

                <%wrequire2.forEach(function(value){%>

                <li class="ui-item"><a href="info?id=<%=value.id%>&type=wrequire"><%=value.title%>
                        <div class="my-item-left">
                            <img src = "<%=value.userpic%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap">订单流水：<%=value.ordersn%></p>
                            <p class="ui-gray">生成日期：<%=value.starttime%></p>
                            <p class="ui-gray">截止日期：<%=value.finishtime%></p>
                            <p class="ui-gray">价格：<span class="ui-red"><%=value.orderPrice%></span></p>
                           </div>
                    </a></li>

                <%})}%></ul>
            <%if(!wrequire2.length){%>
            <p align="center"><img src="/images/a404.png" width="65%" class="ui-center"></p>
            <%}%>

            <%if(wrequire2.length==6){%>
            <p align="center" id="show-more-items-wrequire2" style="" ><span id= "more-items-wrequire2" class="ui-gray load-more" > 点击加载更多……</span></p>
            <div  id="show-load-items-wrequire2"  style="display:none;">
                <div id="load"></div>
            </div>

            <%}%>

        </div>
        </div>
    </div>
<div class="ui-page page5">
    <div class="ui-page-content">
        <div class="ui-tab js-active" id="page5-tab1" role="tabpane1">


            <ul class="ui-list" >

                <li class="ui-item ui-ignore-space"><a href="#">
                        <div class="my-item-left">
                            <img src = "<%=user.photo?user.phpto:"/images/1.jpg"%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap"><%=user.nickName%></p>
                            <p class="ui-grey" >靠谱度:<%=user.kaopu%></p>
                            <p class="ui-red">给力度：<%=user.geili%></p>
                        </div>
                    </a></li>
            </ul>

            <%if(wservice1.length){%>
                <ul class="ui-list arrow-right" id = "order-list-wservice1">
                <%wservice1.forEach(function(value){%>

                <li class="ui-item"><a href="info?id=<%=value.id%>&type=wservice"><%=value.title%>
                        <div class="my-item-left">
                            <img src = "<%=value.userpic%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap">订单流水：<%=value.ordersn%></p>
                            <p class="ui-gray">生成日期：<%=value.starttime%></p>
                            <p class="ui-gray">截止日期：<%=value.finishtime%></p>
                            <p class="ui-gray">价格：<span class="ui-red"><%=value.orderPrice%></span></p>
                           </div>
                    </a></li>

                <%})}%> </ul>
            <%if(!wservice1.length){%>
            <p align="center"><img src="/images/a404.png" width="65%" class="ui-center"></p>
            <%}%>
         <%if(wservice1.length==6){%>
            <p align="center" id="show-more-items-wservice1" style="" ><span id= "more-items-wservice1" class="ui-gray load-more" > 点击加载更多……</span></p>
            <div  id="show-load-items-wservice1"  style="display:none;">
                <div id="load"></div>
            </div>

            <%}%>

        </div>
        <div class="ui-tab" id="page5-tab2" role="tabpane2">


            <ul class="ui-list" >

                <li class="ui-item ui-ignore-space"><a href="#">
                        <div class="my-item-left">
                            <img src = "<%=user.photo?user.phpto:"/images/1.jpg"%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap"><%=user.nickName%></p>
                            <p class="ui-grey" >靠谱度:<%=user.kaopu%></p>
                            <p class="ui-red">给力度：<%=user.geili%></p>
                        </div>
                    </a></li>
            </ul>

            <%if(wservice2.length){%>

                <ul class="ui-list arrow-right" id = "order-list-wservice2">
                <%wservice2.forEach(function(value){%>

                <li class="ui-item"><a href="info?id=<%=value.id%>&type=wservice"><%=value.title%>
                        <div class="my-item-left">
                            <img src = "<%=value.userpic%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right">
                            <p class="ui-no-wrap">订单流水：<%=value.ordersn%></p>
                            <p class="ui-gray">生成日期：<%=value.starttime%></p>
                            <p class="ui-gray">截止日期：<%=value.finishtime%></p>
                            <p class="ui-gray">价格：<span class="ui-red"><%=value.orderPrice%></span></p>
                           </div>
                    </a></li>

            <%})}%> </ul>
            <%if(!wservice2.length){%>
            <p align="center"><img src="/images/a404.png" width="65%" class="ui-center"></p>
            <%}%>
            <%if(wservice2.length==6){%>
            <p align="center" id="show-more-items-wservice2" style="" ><span id= "more-items-wservice2" class="ui-gray load-more" > 点击加载更多……</span></p>
            <div  id="show-load-items-wservice2"  style="display:none;">
                <div id="load"></div>
            </div>

            <%}%>

        </div>
        </div>
    </div>


<script data-main="/js/mobile" src="/js/require.js"></script>
<script src = "/js/ajax.js"></script>
<script>
    var pageA = 2;
    var pageB =2;

    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };
    function onBridgeReady(){
        WeixinJSBridge.call('hideOptionMenu');
        WeixinJSBridge.call('hideToolbar');
    }

    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();

    }
</script>

</body>
</html>
