<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title><%=the_type%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pro.css?embed" />
    <link rel="stylesheet" type="text/css" href="/vendor/ionicons/css/ionicons.css" />
    <link href="/stylesheets/head.css" rel="stylesheet" type="text/css" />
     <script src="/js/zepto.min.js"></script>
    <script src="/js/zepto-touch.min.js"></script>
    <style>
        #load{
            margin:auto;
            left:0px;
            right:0px;
            width:30px;
            height:30px;
            -moz-animation:spin 2s linear 0s infinite;
            border-radius:100%;
            -webkit-animation:spin 2s linear 0s infinite;
            animation:spin 2s linear 0s infinite;
            box-shadow:0px 2px 1px #0000FF,
            0px -2px 1px #FFE000,
            -2px 0px 1px #00FF00,
            2px 0px 1px #FF0000;
        }
        @keyframes spin{
            from{
                -moz-transform:rotate(0deg);
                -webkit-transform:rotate(0deg);
                transform:rotate(0deg);
            }
            to{
                -moz-transform:rotate(360deg);
                -webkit-transform:rotate(360deg);
                transform:rotate(360deg);
            }
        }@-webkit-keyframes spin{
             from{
                 -moz-transform:rotate(0deg);
                 -webkit-transform:rotate(0deg);
                 transform:rotate(0deg);
             }
             to{
                 -moz-transform:rotate(360deg);
                 -webkit-transform:rotate(360deg);
                 transform:rotate(360deg);
             }
         }
        .my-item-left{
            position: absolute;
            border: 0px solid #ccc;
            border-radius: 4px;
            background: #fff;
            height: 60px;
            width: 60px;
            padding: 8px 6px;
            font-size: 12px;
            line-height: 12px;
        }


        .my-item-right {
            margin-left: 70px;
        }

        .my-item-right p {
            font-size: 14px;
        }
        .ui-q1{
            margin-left: 70%;
        }

    </style>
</head>
<body class="ui-app">

<div class="ui-top-bar js-no-bounce">

    <div class="ui-tab page1 js-active">
        <div class="header" id="header">
            <a class="back" href="javascript:history.back();"></a>
            <span class="headline"><%=class_name%></span>
            <span id="the-refresh"><img style="float:right ;margin-top: 12px;margin-right: 5%" height="48%" src = "/images/refresh.png"></span>
        </div>

    </div>


</div>


<!-- 一个App可以多个page -->
<div class="ui-page page1 js-active">

    <div class="ui-page-content">
        <!-- 主体内容 -->

        <div class="ui-tab js-active " id="page1-tab1" role="tabpanel">


            <ul class="ui-list">

                <ul class="ui-groupbutton" role="tablist">
                        <li class="ui-button  ">发布时间 &nbsp;<span class="ion-arrow-down-a"></span></li>
                        <li class="ui-button js-active">截止时间&nbsp;<span class="ion-arrow-down-a"></span></li>
                        <li class="ui-button" >价格&nbsp;<span class="ion-arrow-up-a"></span></li>
                        <li class="ui-button" >参与人数&nbsp;<span class="ion-arrow-down-a"></span><li>
                 </ul>
                <li class="ui-item"> <span class="ui-right"><span class="ui-red"></span></span></li>
                <%if(items.length){%>
                <%items.forEach(function(value){%>
                <li class="ui-item ui-ignore-space  arrow-right"><a href="/web/test?type=<%=type_id%>&id=1212">
                        <div class="my-item-left">
                            <img src = "/images/1.jpg" width="100%">
                        </div>
                        <div class="my-item-right ">
                            <p class="ui-no-wrap"><%=value.title%></p>
                            <p class="ui-gray" id = "the-code"><%=value.provider%></p>
                            <p class="ui-red"><%=value.price%></p>
                        </div>
                    </a>
                </li>
                <%})}%>


            </ul>

            <p align="center" id="show-more-items" style="" ><span id= "more-items" class="ui-gray" > 点击加载更多……</span></p>
            <div  id="show-load-items"  style="display:none;">
                <div id="load"></div>
            </div>




        </div>
        <!-- /主体内容-->
    </div>

</div>

</div>

<script>
    $().ready(function(){
        $(".ui-page-content").swipeRight(function(){
            history.back();
        })
        $("#the-refresh").tap(function(){
            location.reload(true);
        })
        $("#more-items").tap(function(){
            $("#show-load-items").attr("style","");
            $("#show-more-items").attr("style","display:none");
            /*
            $.get("/",function(data){
                $("#show-more-items").attr("style","");
                $("#show-load-items").attr("style","display:none");
                var str = ''
                $("ul").append();
            }) */
        })
    })
    function onBridgeReady(){
        WeixinJSBridge.call('hideOptionMenu');

    }

    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();

    }

</script>
</body>
</html>
