<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>需求分类</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pro.css?embed" />
    <link rel="stylesheet" type="text/css" href="/vendor/ionicons/css/ionicons.css" />
    <link href="/stylesheets/head.css" rel="stylesheet" type="text/css" />
    <script src="/js/zepto.min.js"></script>
    <script src="/js/zepto-touch.min.js"></script>
    <script src="/js/sprintf.js"></script>
    <script>
        function onBridgeReady(){
            WeixinJSBridge.call('hideOptionMenu');
            WeixinJSBridge.call('hideToolbar');
        }

        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        }else{
            onBridgeReady();

        }

    </script>
    <style>
        .my-banner {
            margin-bottom: 20px;
            padding: 10px 12px;
            background-color: #FF9937;
            height: 85px;
            color: #ffffff
        }
        .my-banner-text {
            display: block;
        }
        .my-banner-count {
            font-size: 40px;
            -webkit-transform: translate3d(0, 0, 0);
        }
        .my-banner-unit {
            font-size: 20px;
        }

        .my-item-left{
            position: absolute;
            border: 0px solid #ccc;
            border-radius: 4px;
            background: #fff;
            height: 60px;
            width: 60px;
            padding: 8px 6px;
            font-size: 12px;
            line-height: 12px;
        }


        .my-item-right {
            margin-left: 70px;
        }

        .my-item-right p {
            font-size: 14px;
        }

        .my-deletable {
            z-index: 2;
            background: #fff;
        }

        .my-delete {
            height: 80px;
            line-height: 80px;
            width: 60px;
            text-align: center;
            position: absolute;
            top:0;
            right: 0;
            background: rgb(250, 34, 34);
            z-index: 1;
            color: #fff;
        }

        [data-lazy] {
            display: block;
            margin: 10px auto;
            height: 120px;
            width: 240px;
            border: 1px solid #eee;
        }

    </style>
</head>
<body class="ui-app">

<div class="ui-top-bar js-no-bounce">

    <div class="ui-tab page1 js-active">
        <div class="header" id="header">
            <a class="back" href="javascript:history.back();"></a>
            <span class="headline"><%=class_name%></span>
            <span id="the-refresh"><img style="float:right ;margin-top: 12px;margin-right: 5%" height="48%" src = "/images/refresh.png"></span>
        </div>

    </div>


</div>



<!-- 一个App可以多个page -->
<div class="ui-page page1 js-active">

    <div class="ui-page-content">
        <!-- 主体内容 -->

        <div class="ui-tab js-active " id="page1-tab1" role="tabpanel">
            <ul class="ui-list" id="the-list">
                <%if(items.length){%>
                <%items.forEach(function(value){%>
                <li class="ui-item ui-ignore-space  arrow-right"><a href="/web/seek/require/info?id=<%=value.id%>">
                        <div class="my-item-left">
                            <img src ="<%=value.requireImageAtt%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right ">
                            <p class="ui-no-wrap"><%=value.requireTitle%></p>
                            <p class="ui-gray" id = "the-code">截止：<%=value._apllayEndTime%></p>
                            <%if(!value.requireFixedPrice){%>
                            <p class="ui-red">价格：<%=value.requireFromPrice%>—<%=value.requireToPrice%>yuan元</p>
                            <%}%>
                            <%if(value.requireFixedPrice){%>
                            <p class="ui-red">价格：<%=value.requireFixedPrice%>元<span class="ui-right ui-red"></span></p>
                            <%}%>

                            <p class="ui-red">申请：<%=value.apllayCount%></p>
                            <p class="ui-red">已选：<%=value.chooseUserCount%></p>
                        </div>
                    </a>
                </li>
                <%})}%>
                <%if(!items.length){%>
                <img src="/images/1.jpg">
                <%}%>
            </ul>
            <%if(items.length==6){%>
            <p align="center" id="show-more-items" style="" ><span id= "more-items" class="ui-gray" > 点击加载更多……</span></p>
            <div  id="show-load-items"  style="display:none;">
                <div id="load"></div>
            </div>

            <%}%>
            <%if(items.length<6){%>
            <p align="center" id="show-more-items" style="" ><span id= "more-items" class="ui-gray" > 无更多</span></p>

            <%}%>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <!-- /主体内容-->
    </div>

</div>

</div>
<script>
    var page = 2;
    var the_class = window.location.href.match(/\?class[\s\S]+/)[0].slice(7);
    $().ready(function(){
        $(".ui-page-content").swipeRight(function(){
            history.back();
        })
        $("#the-refresh").tap(function(){
            location.reload(true);
        })
        $("#more-items").tap(function(){
            $("#show-load-items").attr("style","");
            $("#show-more-items").attr("style","display:none");
            $.get("/web/seek/require/more?page="+page+"&class=" +the_class,function(data){
                page +=1;
                $("#show-load-items").attr("style","display:none");
                try{
                    var obj = JSON.parse(data);
                }
                catch (e){
                    console.log(e);
                    var obj = data;

                }
                if(obj.code=='0'){
                    if(obj.lst.length==6)
                        $("#show-more-items").attr("style","");
                    var str= ' <li class="ui-item ui-ignore-space  arrow-right"><a href="/web/seek/require/info?type=wrequire&id=%s">'+
                            '<div class="my-item-left">'+
                            '<img src ="%s"%s>'+
                            '</div>'+
                            '<div class="my-item-right ">'+
                            '<p class="ui-no-wrap">%s</p>'+
                            '<p class="ui-no-wrap ui-gray"> 截止：%s</p>'+
                            '<p class="ui-red">价格：%s 元 </p>'+
                            '<p class="ui-no-wrap"><span class=" ui-red">申请:%s</span></p>'+
                            '<p class="ui-red">已选：%s</p></div>'+
                            '</a></li>';
                    obj.lst.forEach(function(value){
                        try{
                            var temp = JSON.parse(value);
                        }
                        catch (e){
                            console.log(e);
                            temp = value;
                        }
                        window.str = str;
                        $("#the-list").append(sprintf(str,temp.id,temp.requireImageAtt,'width="100%" height="100%"',
                                        temp.requireTitle,new Date(temp._apllayEndTime).Format("20yy年MM月dd日 hh:mm:ss"),
                                (temp.requireFixedPrice?temp.requireFixedPrice:(temp.requireFromPrice+"—"+temp.requireToPrice)),temp.apllayCount,temp.chooseUserCount)
                        );
                    })

                }
                if(obj.code==!'0'||obj.lst.length<6) {

                    $("#show-more-items").attr("style","");
                    $("#more-items").text("无更多");
                    $("#more-items").unbind("tap");
                }
            })
        })
    })
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

</script>

</body>
</html>
