<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>创客汇小鱼儿</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pro.css?embed" />
    <link rel="stylesheet" type="text/css" href="/vendor/ionicons/css/ionicons.css" />
    <link href="/stylesheets/head.css" rel="stylesheet" type="text/css" />
    <script src="/js/zepto.min.js"></script>
    <script src="/js/zepto-touch.min.js"></script>
    <script src="/js/sprintf.js"></script>
    <style>

        .my-item-left{
            position: absolute;
            border: 0px solid #ccc;
            border-radius: 4px;
            background: #fff;
            height: 60px;
            width: 60px;
            padding: 8px 6px;
            font-size: 12px;
            line-height: 12px;
        }


        .my-item-right {
            margin-left: 70px;
        }

        .my-item-right p {
            font-size: 14px;
        }


        [data-lazy] {
            display: block;
            margin: 10px auto;
            height: 120px;
            width: 240px;
            border: 1px solid #eee;
        }

    </style>
</head>
<body class="ui-app">

<div class="ui-top-bar js-no-bounce">

    <div class="ui-tab page1 js-active">
        <div class="header" id="header">
            <span class="headline">缤纷大赛</span>
            <span id="the-refresh"><img style="float:right ;margin-top: 12px;margin-right: 5%" height="48%" src = "/images/refresh.png"></span>
        </div>

    </div>


</div>



<!-- 一个App可以多个page -->
<div class="ui-page page1 js-active">

    <div class="ui-page-content">
        <!-- 主体内容 -->

        <div class="ui-tab js-active " id="page1-tab1" role="tabpanel">
            <ul class="ui-groupbutton" role="tablist">
                <li class="ui-button" id="publish-time">发布时间 &nbsp;<span class="ion-arrow-down-a"></span></li>
                <li class="ui-button" id="ddl"> 截止时间&nbsp;<span class="ion-arrow-down-a"></span></li>
                <li class="ui-button" id="price">价格&nbsp;<span class="ion-arrow-down-a"></span></li>
                <li class="ui-button" id="joins">参与&nbsp;<span class="ion-arrow-down-a"></span><li>
            </ul>
            <ul class="ui-list" id = "the-list">
                <%if(items.length){%>
                <%items.forEach(function(value){%>
                <li class="ui-item ui-ignore-space  "><a href="/web/seek/game/info?id=<%=value.id%>">
                        <div class="my-item-left">
                            <img src ="<%=value.gameImageAtt%>" width="100%" height="100%">
                        </div>
                        <div class="my-item-right ">
                            <p class="ui-no-wrap"><%=value.gameTitle%></p>
                            <p class="ui-gray" id = "the-code">报名截止：<%=value.apllayEndTime%></p>
                            <p class="ui-red">总奖金：<%=value.gameFixedPrice%></p>
                            <p class="ui-red">报名：<%=value.apllayCount%></p>
                        </div>
                    </a>
                </li>
                <%})}%>
                <%if(!items.length){%>
                <img src="/images/1.jpg">
                <%}%>
            </ul>
            <%if(items.length==6){%>
            <p align="center" id="show-more-items" style="" ><span id= "more-items" class="ui-gray" > 点击加载更多……</span></p>
            <div  id="show-load-items"  style="display:none;">
                <div id="load"></div>
            </div>

            <%}%>
            <%if(items.length<6){%>
            <p align="center" id="show-more-items" style="" ><span id= "more-items" class="ui-gray" > 无更多</span></p>

            <%}%>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <!-- /主体内容-->
    </div>

</div>

</div>

<script>
    var page = 2;
    var the_class = "";
    var the_classes ="";
    try{
        var order_fields = window.location.href.match(/\?orderfield[^&]+/)[0].slice(12);
    }
    catch (e){
        var order_fields = "";
    }
    $().ready(function(){
        (function(){
            var active_orders = [];
            active_orders = order_fields.split(",");
            var _this ;
            if(active_orders.length){
                switch (active_orders[0]){
                    case  "releasetime":
                        _this = $("#publish-time");
                        break;
                    case "endtime":
                        _this = $("#ddl");
                        break;
                    case "joinnum":
                        _this = $("#joins");
                        break;
                    case "price":
                        _this = $("#price");
                        break;
                    default:
                        ;
                }
                $(_this).attr("class", $(_this).attr("class") + " js-active");
                if(active_orders[1] == "asc"){
                    $(_this).children().attr("class","ion-arrow-up-a");
                }
                else{
                    $(_this).children().attr("class","ion-arrow-down-a");
                }
            }
        })();


        $("#publish-time").tap(function(){
            var _this = this;
            var orderfield = "releasetime,desc";
            console.log($(_this).attr("class"));
            if(~($(_this).attr("class").indexOf("js-active"))){
                var the_class = $(_this).children().attr("class");
                if(the_class=="ion-arrow-down-a"){
                    orderfield = "releasetime,asc"
                }
            }
            window.location.href = window.location.pathname + "?orderfield=" + orderfield;
        })
        $("#ddl").tap(function(){
            var orderfield = "endtime,desc";
            var _this = this;
            if(~$(_this).attr("class").indexOf("js-active")){
                var the_class = $(_this).children().attr("class");
                if(the_class=="ion-arrow-down-a"){
                    orderfield = "endtime,asc"
                }
            }
            window.location.href = window.location.pathname + "?orderfield=" + orderfield;
        })
        $("#price").tap(function(){
            var _this = this;
            var orderfield = "price,desc";
            if(~($(_this).attr("class").indexOf("js-active"))){
                var the_class = $(_this).children().attr("class");
                if(the_class=="ion-arrow-down-a"){
                    orderfield = "price,asc"
                }
            }

            window.location.href = window.location.pathname + "?orderfield=" +  orderfield;
        })
        $("#joins").tap(function(){
            var _this = this;
            var orderfield = "joinnum,desc";
            if(~($(_this).attr("class").indexOf("js-active"))){
                var the_class = $(_this).children().attr("class");
                if(the_class=="ion-arrow-down-a"){
                    orderfield = "joinnum,asc"
                }
            }

            window.location.href = window.location.pathname + "?orderfield=" +  orderfield;
        })
        $(".ui-page-content").swipeRight(function(){
            history.back();
        })
        $("#the-refresh").tap(function(){
            location.reload(true);
        })
        $("#more-items").tap(function(){
            $("#show-load-items").attr("style","");
            $("#show-more-items").attr("style","display:none");
             $.get("/web/seek/game/more?page="+page+"&orderfield="+order_fields,function(data){
                 page +=1;
                $("#show-load-items").attr("style","display:none");
             try{
                 var obj = JSON.parse(data);
             }
             catch (e){
                 console.log(e);
                 var obj = data;

             }
             if(obj.code=='0'){
                 if(obj.lst.length==6)
                     $("#show-more-items").attr("style","");
                 var str= '<li class="ui-item ui-ignore-space arrow-right"><a href="/web/seek/game/info?id=%s">' +
                         ' <div class="my-item-left">' +
                         '<img src ="%s" %s>' +
                         '</div>' +
                         '<div class="my-item-right ">' +
                         '<p class="ui-no-wrap">%s</p>' +
                         '<p class="ui-gray" id = "the-code">报名截止：%s</p>' +
                         ' <p class="ui-red">总奖金：%s</p> <p class="ui-red">报名：%s</p> </div> </a></li>';
                 obj.lst.forEach(function(value){
                     try{
                         var temp = JSON.parse(value);
                     }
                     catch (e){
                         console.log(e);
                         temp = value;
                     }
                     window.str = str;
                     $("#the-list").append(sprintf(str,temp.id,temp.gameImageAtt,'width="100%" height="100%"',temp.gameTitle,temp.apllayEndTime,temp.gameFixedPrice,temp.apllayCount));
                 })

             }
             if(obj.code==!'0'||obj.lst.length<6) {

                 $("#show-more-items").attr("style","");
                 $("#more-items").text("无更多");
                 $("#more-items").unbind("tap");
             }
             })
        })
    })
    function onBridgeReady(){
        WeixinJSBridge.call('hideOptionMenu');
        WeixinJSBridge.call('hideToolbar');
    }

    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();

    }
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>
</body>
</html>
